@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}